#sideMenu {
	background-color: black !important;
	float: top;
	margin: -25px 0px 0px -10px;


}

#sideMenuOption {
	background-color: #101010;
}

#body {
	width: 65%;
	float: right;
}


.panel-body {
	color: white;
	text-align: center;
	margin: 70px 0px 0px 0px;

}

.sideMenuImage {
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 20px;
	width: 25px;
}

