body {

}

#sideMenu {
	background-color: #333030;
	margin: -30px 0px 0px -20px;
	width: 30%;
	float: left;
	overflow: auto;
}

.panel-body {

	background-color: transparent;
	color: white;
	margin: 10% 0% 10% 0%;
	border-radius: 0em;
	text-align: center;
	width: 100%;
	height: 5%;
	border-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sideimage {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.sideMenuImage {
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 20px;
	width: 25px;
}

.navLink {
	text-transform: uppercase;
}

hr {
	color:white;
	width: 70%;

}

  .panel-body:hover {
  		background: #3399FF;
  		color: white;

  }

  #docitem {
  	color: black;
  	border-color: black;

  }




  /*li a {text-decoration:none; color:black;}
  li a:hover {color:white;}*/
