body{
	background-color: #f4f4f4 !important;
}

#editor {

	display: block;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:50px;
    font-family: "Times New Roman";
    font-size: 1.2em;
    padding: 3.8em 5em 3.8em 5em;
}

.navbar-image{
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 25px;
	width: 30px;
}

#file{
	background-image: url("Assets/File Icon.png");
}

#rules{
	background-image: url("Assets/Edit Icon.png");
}

#options{
	background-image: url("Assets/Options Icon.png");
}

#translator {
	background-color: white;
	word-wrap: break-word;
    font-family: "Times New Roman";
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:50px;
}

#left, #right {
	display: table-cell;
	padding-right: 5em;
}

#table-container {
    display: table;
    }

#table-row  {
	display: table-row;
}


